<!DOCTYPE html>
<html>
<body>

<h1>My First Heading</h1>
<h2>This is heading 2</h2>
<h3>This is heading 3</h3>
<h4>This is heading 4</h4>
<h5>This is heading 5</h5>
<h6>This is heading 6</h6>
<!-- jika heading lebih dari satu -->

<p>@nazilcerdas</p>
<p>This is a paragraph.</p>
<p>This is another paragraph.</p>
<p>@nazilcerdas</p>
<p>Rokhmatun Nazila</p>
<p>Nazila</p>
<!-- jika pargraf lbh dari satu -->

<h2>HTML Links</h2>
<p>HTML links are defined with the a tag:</p>

<a href="https://www.w3schools.com">This is a link</a>
<!-- cara membuat link -->

<h2>HTML Images</h2>
<p>HTML images are defined with the img tag:</p>

<img src="nazil.jpg" alt="nazil.com" width="104" height="142">
<!-- untuk membuat gambar -->

<h2>HTML Buttons</h2>
<p>HTML buttons are defined with the button tag:</p>

<button>open</button>
<!-- untuk membuat tombol button -->

<h2>An Unordered Nazil Restaurant List</h2>

<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>  

<h2>An Ordered Nazil Restaurant List</h2>

<ol>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol> 
<!-- An Unordered Nazil Restaurant List
Coffee
Tea
Milk
An Ordered Nazil Restaurant List
Coffee
Tea
Milk -->





</body>
</html>

